.form{
    background-color: white;
    width: fit-content;
    margin: 2px auto;
    padding: 15px 60px;
    border: 1px solid silver;
}
svg {
    /*border: 1px solid silver;*/
    display: block;
    background-color: #F6FFFF;
    margin: 2px auto;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.3);
}
.btn{
    border-radius: 15px;
    border: 25px solid #9FB19A;
    width: 220px;
    border: none;
    color: white;
    margin: 5px auto;
    position: relative;
    padding: 15px 13px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.btn:hover{
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),
  0 17px 50px 0 rgba(0,0,0,0.19);
}
.next{
    float: right;
    background: #3FA344;
}
.small{
    display: inline-block;
    width: 50px;
}
.btn:active:hover{
  color: #EEEEDE;
  margin: 7px auto;
  width: 218px;
  padding: 13px 10px;
}
.small:active:hover{
  color: #EEEEDE;
  margin: 7px auto;
  width: 48px;
  padding: 13px 10px;
}
.graph{
    background:#FFB200;
    color: gray;
}
.hide{
    display: none;
}