* {
  margin: 0;
  padding: 0; 
}
.hide{
    display: none;
}
html{
width: 100%;
  font-family: Verdana;
  background: #ddd;
}
.title{
    color: #1B506F;
    width: fit-content;
    margin: 0 auto;
}
#title{
    width: fit-content;
    margin: 0 auto;
}
.main{
    background-color: white;
    margin: 12px auto;
    padding: 12px 40px;
    width: fit-content;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),
  0 17px 50px 0 rgba(0,0,0,0.19);
}
svg {
    border: 1px solid silver;
    display: block;
    background-color: #EAFFFF;
    margin: 2px auto;
}
.form{
    background-color: #EAFFFF;
    width: fit-content;
    margin: 2px auto;
    padding: 15px 60px;
    border: 1px solid silver;
}
.menu{
    width: 440px;
    padding: 3px 20px;
    background-color: #7FB5FA;
}
.btn{
    width: 220px;
    border: none;
    color: white;
    margin: 5px auto;
    position: relative;
    padding: 15px 13px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}
.btn:hover{
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),
  0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:active:hover{
  color: #EEEEDE;
  margin: 7px auto;
  width: 218px;
  padding: 13px 10px;
}
.green{
    background-color: #3FA344;
}
.back{
    background: #2283BB;
    display: none;
}